{% import "macros/seo.html" as seo %}

{% set this = page | default(value = section) %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-GPKE0EW707"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-GPKE0EW707');
        </script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ get_url(path = 'main.css') | safe }}">

        {% set icon = get_image_metadata(path = 'apple-touch-icon.png', allow_missing = true) %}
        {% if icon %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ get_url(path = 'favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ get_url(path = 'apple-touch-icon.png') }}" type="image/png">
        {% endif %}

        <title>{{ this.title }}</title>

        {{ seo::seo(page = this) }}

        {% block head_includes %}{% endblock head_includes %}
        {% if this.extra.head_includes %}{{ this.extra.head_includes | safe }}{% endif %}
        
    </head>

    <body>
        {% block nav %}{% endblock nav %}
        {% block header %}{% endblock header %}
        {% block main %}{% endblock main %}
        {% block footer %}{% endblock footer %}
    
        <script>
            var enableTargetBlank = function() {
            var links = document.getElementsByTagName('a');
        
                for (let link of links) {
                    if (link.hostname !== window.location.hostname && link.target === "") {
                        link.target = "_blank";
                    }
                }
            
            };
            {% if config.extra.enable_target_blank %}
                enableTargetBlank();
            {% endif %}
        </script>
    </body>
</html>


